<script setup lang="ts">
const app = useNuxtApp()
const { isAuthenticated } = useAuth(app.$firebase.auth)

async function signout() {
  app.$firebase.auth.signOut()
}
</script>

<template>
  <NuxtLink
    v-if="isAuthenticated"
    tabindex="0"
    class="btn btn-ghost btn-sm"
    @click="signout"
  >
    Signout
  </NuxtLink>

  <NuxtLink to="/login" v-else class="btn btn-primary btn-sm">Login</NuxtLink>
</template>
