<script setup lang="ts">
const app = useNuxtApp()
const { isAuthenticated } = useAuth(app.$firebase.auth)
</script>
<template>
  <div>
    <div v-if="isAuthenticated" class="grid grid-cols-2 gap-2 mt-3">
      <NuxtLink to="/profile" class="hover:scale-[102%] duration-75">
        <div
          class="card card-bordered card-compact w-full bg-base-200 text-base-content"
        >
          <div class="card-body">
            <div class="flex justify-between align-center">
              <h2 class="font-semibold">Profile page</h2>
              <Icon name="material-symbols:account-box" size="24px" />
            </div>
          </div>
        </div>
      </NuxtLink>
    </div>
  </div>
</template>
