<script setup lang="ts">
definePageMeta({
  layout: 'auth',
})

const config = useRuntimeConfig()
const app = useNuxtApp()

const form = reactive({
  name: '',
  email: '',
  errorText: '',
  successText: false,
})

async function update() {
  const { user } = useAuth(app.$firebase.auth)

  let formBody = []
  for (let param of ['name', 'email']) {
    const encodedKey = encodeURIComponent(param)
    const encodedValue = encodeURIComponent((form as any)[param])
    formBody.push(encodedKey + '=' + encodedValue)
  }

  const response = (await $fetch(`${config.public.backendUrl}/profile/`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
      Authorization: `Bearer ${(user as any)?._rawValue?.accessToken}`,
    },
    body: formBody.join('&'),
  }).catch((error) => error.data)) as any
  if (response?.error) {
    form.successText = false
    form.errorText = (response?.message ?? '').join('; ')
    setTimeout(() => {
      form.errorText = ''
    }, 2000)
  } else {
    form.errorText = ''
    form.successText = true
    setTimeout(() => {
      form.successText = false
    }, 2000)
  }
}

watchEffect(async () => {
  const { user, isAuthenticated } = useAuth(app.$firebase.auth)
  const { data } = (await $fetch(`${config.public.backendUrl}/profile/`, {
    method: 'GET',
    headers: {
      Authorization: `Bearer ${(user as any)?._rawValue?.accessToken}`,
    },
  })) as any
  if (data?.[0]?.name !== undefined) form.name = data?.[0]?.name
  if (data?.[0]?.email !== undefined) form.email = data?.[0]?.email
})
</script>

<template>
  <div class="flex h-full flex-col">
    <div class="form-control w-full mt-3">
      <label class="label">
        <span class="label-text">Name</span>
      </label>
      <div class="flex items-center gap-3 mb-3">
        <input
          class="flex-1 input input-bordered"
          placeholder="John"
          v-model="form.name"
        />
      </div>
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <div class="flex items-center gap-3 mb-3">
        <input
          class="flex-1 input input-bordered"
          type="email"
          placeholder="john.smith@example.com"
          v-model="form.email"
        />
      </div>
      <div class="flex items-center gap-3">
        <button
          @click="update"
          id="sign-in-button"
          class="btn btn-sm btn-ghost"
        >
          Save
        </button>
      </div>
    </div>
    <div v-if="form.errorText" class="form-control w-full mt-3">
      <label class="label">
        <span class="label-text">Error updating</span>
      </label>
      <div class="alert alert-error">{{ form.errorText }}</div>
    </div>
    <div v-if="form.successText" class="form-control w-full mt-3">
      <div class="alert alert-success">Successfully updated!</div>
    </div>
  </div>
</template>
